body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    padding-top: 20px; 
  }
  
  .header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .center-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
    margin-right: 20px;
  }
  
  .nav-link:hover,
  .active-link {
    color: yellow; 
  }
  
  .logout-button {
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
  }
 

  
  .active-link{color: #1100cc;
  }
  
  
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      align-items: center;
      margin:10px 0;
      text-align: center;
      margin-right: 0;
    }
  
    .nav-link,
    .logout-button {
      margin: 10px 0;
      width: 100%;
      text-align: center;
    }
  }
  
  .menu-icon {
    cursor: pointer;
    font-size: 1.5rem; 
    transition: transform 0.3s;
  }
  
  .menu-icon:hover {
    transform: scale(1.2); 
  }